@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1500px;
  --activeColorH: 46;
  --activeColorS: 80%;
  --activeColorL: 60%;
  --activeColorHSL: hsl(var(--activeColorH), var(--activeColorS), var(--activeColorL));
  --activeColorHSLValues: var(--activeColorH), var(--activeColorS), var(--activeColorL);
  @apply [--font-size:16px];

}

*:focus-visible {
  @apply outline-gray-100;
}

body {
  @apply overscroll-none text-gray-50 selection:text-black selection:bg-gray-100 bg-[var(--activeColorHSL)] transition-colors duration-200 ease-linear;
}

@layer base {

}

@layer utilities {
  .h-screen-custom {
    height: 100vh;
    height: 100dvh;
  }
  .word-spacing {
    word-spacing: 0.08ch;
  }
  .overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .chrome {
    --chrome-dark: #999;
    --chrome-light: #eee;
    background: linear-gradient(-5deg, var(--chrome-light), var(--chrome-dark), var(--chrome-light) 45%, var(--chrome-dark) 65%, var(--chrome-light));
  }
}