@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-sidespace: clamp(16px,3vw,64px);
  --full-svh: 100svh;
  --full-screen-h: var(--full-svh, 100vh);
  --bg-color: #000000;
  --border-color: #383838;
}

body {
  @apply overscroll-none text-[var(--bg-color)] selection:text-black selection:bg-gold bg-gray-950;
}

@layer base {
  .big-text {
    @apply font-sans-tight text-[clamp(32px,3.30687831vw,56px)] leading-[1.1em] font-bold;
  }
  .font-smooch {
    font-size: 1.5em;
  }
  .border {
    @apply border-gray-900
  }
  .border-gradient {
    border-image: linear-gradient(#00000000,var(--border-color)) 30;
  }
}

@layer utilities {

  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 0.05em;
    margin-bottom: -0.05em;
  }
  .bg-golden {
    background-image: linear-gradient(7deg, #82764A, #E2D5A5);
  }
  .bg-diagonal {
    background-image: linear-gradient(150deg, #171717 50%, 50%, #EEEEEE);
    background-size: 240% 100%;
    background-repeat: no-repeat;
    background-position-x: 0%;
  }
}