@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --full-svh: 100svh;
  --full-screen-h: var(--full-svh, 100vh);
  --max-width: 1500px;
  --activeColorH: 0;
  --activeColorS: 100%;
  --activeColorL: 51%;
  --activeColorHSL: hsl(var(--activeColorH), var(--activeColorS), var(--activeColorL));
}

*:focus-visible {
  @apply outline-gray-100;
}

body {
  @apply overscroll-none text-gray-50 selection:text-black selection:bg-gray-100 bg-gray-950;
}

@layer base {

}

@layer utilities {
  .h-screen {
    height: var(--full-screen-h);
  }
  .word-spacing {
    word-spacing: 0.08ch;
  }
}